.interview-section{
    width: 50%;
    margin: auto;
}

.conversation-input{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

body{
    background-color: rgb(41, 41, 41);
}

.card-container {

    padding-top: 10px;
    
}

h1, h2{
    color: white;
   text-align: center;
}

.index-form{
    width: 50%;
    margin: auto;
    padding-top: 5px;
}

p {
    text-align: center;
    color: white;
}