.interview-section{
    width: 50%;
    margin: auto;
}

.conversation-input{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

body{
    background-color: rgb(41, 41, 41);
}

.card-container {

    padding-top: 10px;
    
}

h1, h2, h3{
    color: white;
   text-align: center;
}

.index-form{
    width: 50%;
    margin: auto;
    padding-top: 5px;
}

p {
    text-align: center;
    color: white;
}

.prev-conversations{
    width: 50%;
    margin: auto;
    padding-top: 5px;
}

ul {
    text-align: center;
}

.save-button{
    width: 50%;
    margin: auto;
    padding-top: 100px;
    padding-left: 10px;
}

.mb-3{
    display: flex;
    justify-content: space-between;
}

.prompt{
        background-color: rgb(156, 158, 158);
        color: white;
}

.answer, .intro{
    background-color: rgb(0, 0, 0);
    color: white;
}

.back-to-main-link{
    text-align: center;
    width: 50%;
    margin: auto;
}