.interview-section{
    width: 50%;
    margin: auto;
}

.conversation-input{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.card-container {
    padding-top: 10px;
}

h1 {
   text-align: center;
   color: white;
}

.job-description-form-container{
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.job-description-form-contents{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.job-description-button{
    margin-top: 10px;
}

.page-header{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
}

.prompt{
        background-color: rgb(0, 0, 0);
        color: white;
}

.answer, .intro{
    background-color: rgb(248, 248, 248);
}

.back-to-main-link{
    text-align: center;
    width: 50%;
    margin: auto;
}