<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AI Interviewer</title>
</head>
<body>
    <div class="page-header">
      <h1>Welcome to my AI interviewer bot</h1>
    </div>

    <div class="job-description-form-container">
     <form method="POST" action="/interview">
        <div class="job-description-form-contents">
        <h6>Copy and paste a job description from any site and click submit to start the interview</h6>
        <textarea id="userprompt" name="userprompt" aria-describedby="userinputbox" rows="25" cols="80"></textarea>
        <input type="submit" value="Submit" class="job-description-button">
        </div>
     </form>
    </div>
</body>
</html>