<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AI Interviewer</title>
</head>
<body>

        <h2>Welcome to my AI interviewer bot</h2>
        <p>Copy and paste a job description from any site and click submit to start the interview</p>

        <div class="index-form">
            <form method="POST" action="/interview">
                <div class="mb-3">
                    <textarea id="userprompt" name="userprompt" aria-describedby="userinputbox" rows="25" cols="80"></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

        {% if conversations %}

        <div class="prev-conversations">
            <h3>Resume a previous conversation</h3>

            <ul>
            {% for conversation in conversations %}
                    
        
                <li><a href="{{ url_for('specific_interview', header=conversation.header) }}">{{conversation.header}}</a></li>      
                 
            {% endfor %}

            </ul>
        </div>

        {% endif %}

</body>
</html>